:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bj-color: #ffffff;
  --bj-hero: #2f303a;
  --bj-about: #e5e5e5;
  --bj-team: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  box-sizing: border-box;
  width: 1600px;
  display: flex;
  border: 1px solid #ECECEC;
  align-items: baseline;
  background-color: var(--bj-color);
}

.header:hover,
.header:active {
  color: #2196f3;
}

.page-header {
  float: left;
}

.page-nav-logo {
  padding: 24px 93px 25px 215px;
  
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-color);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

.link,
.mail,
.tell {
  text-decoration: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px;
  color: var(--title-text-color);
}

.accent {
  color: var(--accent-color);
}

.mail ,
.tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.tell {
  color: var(--primary-text-color);
  padding: 32px 215px 32px 50px;
}

.mail {
  padding: 32px 50px;
}

.nav-list,
.page-header-registration {
display: flex;
}

.nav-list .link:hover,
.page-header-registration .mail:hover,
.page-header-registration .tell:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.page-header-registration .mail,
.page-header-registration .tell {
  cursor: pointer;
}

.page-nav > a {
  text-decoration: none;
}

.page-nav > a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}
/*
.page-nav > a:active {
  color: #2196f3;
}*/

.nav-list > li {
  text-decoration: none;
}

.hero {
  display:block;
  flex-direction: column;
  width: 1600px;
  height: 600px;
  background-color: var(--bj-hero);
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--bj-color);
}

.hero-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  width: 200px;
  height: 50px;
  margin: 350px 700px 200px 700px;
  background: var(--accent-color);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--bj-color);
}

.about {
  background-color: var(--bj-about);
}

.specifics-section {
  float: left;
  padding-left: 30px;
}

.specifics-title {
  margin-top: 94px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.specifics-text {
  width: 270px;
  height: 75px;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.about-team {
  background-color: var(--bj-team);
}

footer {
  background-color: var(--bj-hero);
}
